<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Камеры</title>

    <!-- Linking external CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <!-- Creating a grid of the required size -->
    <style>
      .grid-container {
        grid-template-rows: repeat({{ rows }}, 1fr);
        grid-template-columns: repeat({{ cols }}, 1fr);
      }
    </style>
  </head>
<body>
  <div id="container" class="grid-container rows-{{ rows }} cols-{{ cols }}" data-rows="{{ rows }}" data-cols="{{ cols }}">
    {% for i in range(rows * cols) %}
      {% if i < cameras|length %}
        <div class="camera" data-index="{{ loop.index0 }}" data-name="{{ cameras[i].name }}">
          <h2>{{ cameras[i].name }}</h2>
          <img
            src="{{ url_for('video', cam_id=i) }}"
            alt="Камера {{ cameras[i].name }}"
            id="camera-img-{{ i }}"
            draggable="false"
          >
          <!-- Кнопка добавляется динамически скриптом -->
        </div>
      {% else %}
        <div class="camera no-camera"></div>
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>